/* General styling */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 0;
    background: #242526;
    color: #e9ecef;
}

h1, .lead {
    color: #e9ecef;
}
/* Class supplied styles */
textarea{
background: transparent;
border: none;
resize: none;
color: #000000;
border-left: 1px solid black;
padding: 10px;
}
  
.jumbotron {
text-align: center;
background-color: transparent;
color: black;
border-radius: 0;
border-bottom: 10px solid black;
}

.hour {
background-color: #fff;
color: #000000;
border-top: 1px dashed #000000;
border-right: 2px solid black;
text-align: right;
min-width: 100px;
}

/* Spacing for numbers to be to closer to the textarea */
.hour p {
    margin-top: 0;
    padding: 10px;
}

/* Styles for hours that are earlier than the current time of day (so present time makes them in the past) */
.past {
background-color: #d3d3d3;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: black;
}

/* Style for current time block that is equal to the current hour of the day (in military time) */
.present {
background-color: #ff6961;
color: white;
}

/* Styles for hours that are later than the current hour, but are within the range of 9am-5pm */
/* Have not tested outside of my time EST */
.future {
background-color: #77dd77;
color: white;
}
  
.container {
    width: 80%;
    margin: 0 auto;
}

/* parent of each time-block: hour, plan-input, save-icon */
.time-block {
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
    min-height: 80px;
}

.plan-input {
    background: white;
    width: 100%;
    display: flex;
    border-top: 1px solid white;
}

/* Potential future change: add a class to display:none text and make it only for screen readers */
label {
    width: 100%;
}

.plan-input textarea {
    width: 100%;
    padding: 10px;
    min-height: 80px;
    outline: none;
}

.plan-input ::placeholder {
    color: black;
}

.save {
    background-color: #06AED5;
    min-width: 100px;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed black;
    border-left: 1px solid black;
    background-color: #06AED5;
    color: white;
    transition: all .3s ease-in-out;
}

button.saveBtn {
    background: transparent;
    width: 100%;
    height: 100%;
    color: white; 
}

.saveBtn, #clearBtn {
    cursor: pointer;
    outline: none;
    border: none;
}

#clearBtn {
    background: #EAA39A;
    padding: 18px 40px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 50px;
    margin: 1rem;
    transition: all .3s linear;
    color: #444;
    font-weight: bold;
}
/* centers clear button below the time blocks */
.center-btn {
    display: flex;
    justify-content: center; 
}

#clearBtn:hover,
#clearBtn:focus {
    background: #751611;
    color: #efefef;     
}

.save:hover,
.save:focus {
    background: rgb(25, 206, 206);
}

.save:hover .save-icon,
.save:focus .save-icon {
    font-size: 20px;
}

.save-icon {
    font-size: 2rem;
    transition: all .3s ease-in-out;
}

.save-icon:hover,
.save-icon:focus {
    font-size: 20px;
    transition: all .3s ease-in-out;
}

 /* Test mobile */
 @media all and (max-width: 500px) {
    .jumbotron {
        border: 0;
    }

     .container {
         width: 100%;
     }

     .hour {
        background: white;
        border-top: 1px solid black;
        border-right: 2px solid black;
        text-align: center;
        min-width: 60px;
    }

    .save {
        min-width: 60px;
        border-radius: 0;
    }
 }
